/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* nav */

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;


}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  color: white;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px
}

.nav-toggle-label span::after {
  top: 7px;
}
.header {
  padding: 10px;
  background-color: firebrick;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

}

.header h1{
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Search */
#searchInput {
  margin-top: 300px;
  width: 300px;
  margin-left: 10px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 30px;
  background-color: white;
  background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
  background-position: 10px 5px;
  background-repeat: no-repeat;
  padding: 8px 10px 8px 20px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9;
  text-indent: 20px;

}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.wildfire {
  font-size: 2rem;
  color: red;
}

.volcanoe {
  font-size: 2rem;
  color: rgb(255, 174, 0);
}
.storm {
  font-size: 2rem;
  color: blue;
}

.sea {
  font-size: 2rem;
  color: rgb(95, 200, 226);
}

.iceberg-location-icon {
  font-size: 2rem;
  color: rgb(95, 200, 226);
}
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

/* filter */
.filter-form {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 40px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: white; 
}

.location-info {
  position: absolute;
  top: 200px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}